$color-white: #ffffff;

$color-blue-50: #007bc0;
$color-blue-55: #0088d4;

$color-gray-60: #8a9097;
$color-gray-45: #656a6f;
$color-gray-40: #666666;
$color-gray-30: #4d4d4d;
$color-gray-20: #333333;
$color-gray-10: #1a1a1a;

$color-red-50: #ed0007;

$modal-blured: hsla(213, 5%, 46%, 0.251);
