@import "./size";
@import "./color";
@import "./viewport";

@mixin blured-component {
  -webkit-backdrop-filter: blur($BLUR-LEVEL);
  backdrop-filter: blur($BLUR-LEVEL);
  background-color: $modal-blured;
}

@mixin custom-input {
  outline: none;
  -webkit-appearance: none;
  -webkit-box-shadow: $color-gray-60 0px 0px 0px 2px;
  -moz-box-shadow: $color-gray-60 0px 0px 0px 2px;
  box-shadow: $color-gray-60 0px 0px 0px 2px;
  background-color: $color-white;

  width: 100%;
  border-radius: 0.6rem;
  padding: 0.8rem 0.9rem;
  font-size: 1.2rem;
  transition: 0.2s ease;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid $color-gray-45;
    -webkit-box-shadow: $color-gray-60 0px 0px 0px 1px;
    -moz-box-shadow: $color-gray-60 0px 0px 0px 1px;
    box-shadow: $color-gray-60 0px 0px 0px px;
  }

  &:focus {
    border: 2px solid $color-gray-10;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  @include desktop-and-up {
    border-radius: 0.5rem;
    padding: 0.8rem 0.9rem;
  }
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin custom-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: $color-white;
  background-color: $color-blue-50;

  border-radius: 0.5rem;
  padding: 1rem 0;
  font-size: 1.1rem;
  box-shadow: rgba(184, 131, 131, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 100%;
  transition: 0.2s;

  &:hover {
    background-color: $color-blue-55;
    transform: translateY(0.2rem);
    box-shadow: none;
  }

  &:focus {
    animation: translate;
    animation-duration: 0.2s;
  }

  @keyframes translate {
    0% {
      transform: translate(0%, 10%);
    }
    100% {
      transform: translate(0%, 10%);
      box-shadow: none;
    }
  }

  @include desktop-and-up {
    .button {
      border-radius: 0.5rem;
    }
  }
}
