@import "../../../styles/color";
@import "../../../styles/mixins";

$TABLE-TD-HEIGHT: 3.5rem;
$CELL-INDEX-WIDTH: 5rem;
$CELL-TITLE-WIDTH: 20rem;
$CELL-LESSION-WIDTH: 8rem;
$CELL-LESSION-LEVEL: 8rem;

.courses {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &-title {
        color: $color-blue-50;
        font-weight: bolder;

        font-size: 2rem;
      }
    }

    &__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      ::ng-deep .button {
        padding: 0.8rem 1.3rem;
        font-size: 0.8rem;
      }
    }
  }

  &-tools {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 1rem 0;
    gap: 1rem;

    &-form {
      position: relative;

      width: 20rem;

      & input {
        @include custom-input;

        width: 100%;
        font-size: 0.8rem;
        padding: 0.8rem;
      }

      &-suggestion {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: $color-white;

        top: 105%;
        left: 0;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 100;

        &-empty {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-weight: bolder;

          font-size: 1.1rem;
          width: 100%;
          height: 3rem;
        }

        &-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;

          gap: 0.3rem;
          width: 100%;
          height: 4rem;
          padding: 0.5rem;
          border-bottom: 1px dashed $color-gray-60;

          &:hover {
            background-color: $color-gray-90;
          }

          &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            &-title {
              font-weight: bolder;

              font-size: 1rem;
            }

            &-type {
              background-color: $color-gray-60;
              color: $color-white;

              padding: 0.3rem 0.5rem;
              border-radius: 0.3rem;
              font-size: 0.8rem;

              &-published {
                background-color: $color-green-50;
              }
            }
          }
        }
      }
    }
  }

  &-main {
    flex: 1 1 0%;
    width: 100%;
    margin-top: 2rem;

    &-empty {
      & p {
        font-weight: bolder;

        font-size: 1.3rem;
      }
    }

    & .table {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      width: 100%;

      &-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: $TABLE-TD-HEIGHT;

        &-cell {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          padding-left: 1rem;
        }
      }

      &-header,
      &-data {
        &-index {
          width: $CELL-INDEX-WIDTH;
        }

        &-title {
          width: $CELL-TITLE-WIDTH;
        }

        &-lession {
          width: $CELL-LESSION-WIDTH;
        }

        &-level {
          width: $CELL-LESSION-LEVEL;
        }

        &-desc {
          width: calc(
            100% - $CELL-INDEX-WIDTH - $CELL-TITLE-WIDTH - $CELL-LESSION-WIDTH -
              $CELL-LESSION-LEVEL
          );
        }
      }

      &-header {
        border-top: 1px solid $color-gray-80;
        border-bottom: 1px solid $color-gray-80;

        & > div {
          font-weight: bolder;
        }
      }

      &-data {
        border-bottom: 1px solid $color-gray-80;
        cursor: pointer;

        &:hover {
          background-color: $color-gray-90;
        }

        &-desc {
          gap: 0.8rem;

          span {
            padding: 0.5rem 1rem;
            border-radius: 1.2rem;
            border: 1px solid $color-gray-45;
          }
        }
      }
    }
  }
}

.new-course-form {
  @include absolute-center;
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  gap: 1rem;
  width: 50%;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;

  &__header {
    font-weight: bolder;
    color: $color-blue-50;

    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  &__error {
    text-align: center;
    color: $color-red-50;

    font-size: 1.2rem;
  }

  &__component {
    &-error {
      color: $color-red-50;

      margin-top: 0.5rem;
    }

    textarea {
      @include custom-input;
    }
  }
}
