<div class="courses">
  <div class="courses-header">
    <div class="courses-header__left">
      <p class="courses-header__left-title">
        Các phần
        {{
          currentCourseType === allCourseTypes[0].value
            ? "đã ra mắt"
            : "đang thử nghiệm"
        }}
      </p>
    </div>
    <div class="courses-header__right">
      <app-button (click)="showAddCourseModal()">Tạo phần mới</app-button>
    </div>
  </div>
  <div class="courses-tools">
    <div class="courses-tools-select">
      <select [value]="currentCourseType" (change)="onChangeCourseType($event)">
        <ng-container *ngFor="let courseType of allCourseTypes">
          <option
            value="{{ courseType.value }}"
            title="{{ courseType.description }}"
          >
            {{ courseType.label }}
          </option>
        </ng-container>
      </select>
    </div>
    <form class="courses-tools-form" [formGroup]="searchForm">
      <input
        (input)="onSearchInputChange($event)"
        placeholder="Tìm khoá học theo tên"
        formControlName="keyword"
      />
      <div class="courses-tools-form-suggestion">
        <div *ngIf="suggestionFormSearch.length !== 0">
          <ng-container *ngFor="let course of suggestionFormSearch">
            <div
              (click)="goToCourseDetail(course._id)"
              class="courses-tools-form-suggestion-item"
            >
              <div class="courses-tools-form-suggestion-item-top">
                <p class="courses-tools-form-suggestion-item-top-title">
                  {{ course.title }}
                </p>
                <span
                  class="courses-tools-form-suggestion-item-top-type {{
                    course.type === allCourseTypes[0].value
                      ? 'courses-tools-form-suggestion-item-top-type-published'
                      : ''
                  }}"
                >
                  {{
                    course.type === allCourseTypes[0].value
                      ? "Đã ra mắt"
                      : "Thử nghiệm"
                  }}
                </span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
  <div class="courses-main">
    <div class="courses-main-empty" *ngIf="allCourses.length === 0">
      <p>Không tìm thấy kết quả nào</p>
    </div>
    <div class="table" *ngIf="allCourses.length !== 0">
      <div class="table-row table-header">
        <div class="table-row-cell table-header-index">STT</div>
        <div class="table-row-cell table-header-title">Phần</div>
        <div class="table-row-cell table-header-lession">Số cửa</div>
        <div class="table-row-cell table-header-desc">Mô tả</div>
      </div>
      <ng-container *ngFor="let course of allCourses; let i = index">
        <div
          (click)="goToCourseDetailById(course._id)"
          class="table-row table-data"
        >
          <div class="table-row-cell table-data-index">{{ i + 1 }}</div>
          <div class="table-row-cell table-data-title">{{ course.title }}</div>
          <div class="table-row-cell table-data-lession">
            {{ course.lessions.length }}
          </div>
          <div class="table-row-cell table-data-desc">
            {{ course.description }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<app-modal [isOpen]="isShowAddCourseModal" (click)="hideAddCourseModal()">
  <form
    class="new-course-form"
    (submit)="onNewCourseFormSubmit()"
    [formGroup]="newCourseForm"
  >
    <p class="new-course-form__header">Tạo phần mới</p>
    <p class="new-course-form__error" *ngIf="newCourseFormError !== ''">
      {{ newCourseFormError }}
    </p>
    <div class="new-course-form__component new-course-form__title">
      <app-text-field
        [autofocus]="true"
        placeholder="VD: Động vật"
        type="text"
        [required]="true"
        [control]="$any(newCourseForm.get('title'))"
      ></app-text-field>
      <p
        class="new-course-form__component-error"
        *ngIf="
          newCourseForm.get('title')!.invalid &&
          (newCourseForm.get('title')!.dirty ||
            newCourseForm.get('title')!.touched)
        "
      >
        Hãy nhập tên phần học mới
      </p>
    </div>
    <div class="new-course-form__component new-course-form__description">
      <textarea
        cols="{{ 5 }}"
        [required]="true"
        formControlName="description"
        placeholder="VD: Từ vựng tiếng Anh về thế giới động vật"
      ></textarea>
      <p
        class="new-course-form__component-error"
        *ngIf="
          newCourseForm.get('description')!.invalid &&
          (newCourseForm.get('description')!.dirty ||
            newCourseForm.get('description')!.touched)
        "
      >
        Hãy nhập mô tả của phần học
      </p>
    </div>

    <app-button type="submit">Tạo phần mới</app-button>
  </form>
</app-modal>
