@import "../../../styles/color";
@import "../../../styles/mixins";

$CARD-SIZE: 8rem;
$CARD-GAP: 1rem;

.six {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__left,
  &__right {
    width: calc(100% / 2);

    padding: 0.5rem;
  }

  &__left {
    &-select {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      padding: 1rem 0;
      gap: 1rem;

      & select {
        padding: 0.6rem 0.8rem;
      }

      &-btn {
        @include custom-button;
        color: black;
        background-color: $color-white;
        width: max-content;

        padding: 0.6rem 0.8rem;
        font-size: 0.8rem;

        &-selected {
          background-color: $color-blue-50;
          color: $color-white;
        }
      }
    }

    &-form {
      position: relative;

      width: 100%;

      & input {
        @include custom-input;

        padding: 0.6rem 0.8rem;
        font-size: 0.9rem;
      }

      &-suggestion {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;

        top: 105%;
        left: 0;
        width: 100%;
        z-index: 300;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;

        &_item {
          cursor: pointer;

          padding: 0.5rem;
          border-bottom: 1px dashed $color-gray-90;

          &-disabled {
            pointer-events: none;

            background-color: $color-gray-60;
            opacity: 0.6;
          }

          &:hover {
            background-color: $color-gray-90;
          }

          &:hover &-eng {
            color: $color-blue-50;
          }

          & p {
            font-size: 0.9rem;

            span {
              font-weight: bolder;
            }
          }

          &-eng {
            font-weight: bolder;

            font-size: 1.8rem;
            transition: 0.2s;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    &-word {
      display: flex;
      flex-direction: column;

      gap: 1rem;

      &-eng {
        padding: 1rem 0;

        & p {
          color: $color-blue-50;
          font-weight: bolder;

          font-size: 2rem;
        }
      }

      &-vies {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        gap: 1rem;

        &-vie {
          @include custom-button;
          width: max-content;
          background-color: $color-white;
          color: black;
          overflow-x: auto;

          padding: 0.8rem 1rem;
          font-size: 0.9rem;

          &:hover {
            color: $color-white;
          }

          &_selected {
            background-color: $color-blue-50;
            color: $color-white;
          }
        }
      }

      &-images {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        gap: 1rem;
      }

      &-audios {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        gap: 1rem;

        &_audio {
          outline: none;
          cursor: pointer;

          padding: 0.5rem;
          border: 2px dashed $color-gray-60;
          border-radius: 0.3rem;
          opacity: 0.6;

          &-selected {
            border: 2px solid $color-blue-50;
            opacity: 1;
          }

          & audio {
            width: 8rem;
            height: 2rem;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 1px dashed $color-gray-60;

    &-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: calc($CARD-SIZE * 2 + $CARD-GAP);
      gap: $CARD-GAP;

      margin-top: 3rem;

      &_card {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        width: $CARD-SIZE;
        height: $CARD-SIZE;
        background-color: $color-gray-90;
        cursor: pointer;

        border-radius: 0.3rem;
        border: 3px dashed $color-gray-60;
        opacity: 0.6;

        &-selected {
          border: 3px solid $color-blue-50;
          opacity: 1;
          background-color: $color-white;
        }

        & p {
          font-size: 1.2rem;
        }
      }
    }
  }

  &__bot {
    position: absolute;

    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);

    ::ng-deep .button {
      width: max-content;

      padding: 0.6rem 0.8rem;
      font-size: 0.8rem;
    }
  }
}
