<div class="two">
  <div class="two__left">
    <div class="two__left-select">
      <select
        (change)="onChangeQuestionType($event)"
        [value]="currentQuestionType"
      >
        <ng-container *ngFor="let type of roundType2QuestionType">
          <option value="{{ type.value }}" title="{{ type.description }}">
            {{ type.label }}
          </option>
        </ng-container>
      </select>
    </div>
    <div class="two__left-question">
      <input
        (input)="onQuestionChange($event)"
        value="{{ newRound.question }}"
        placeholder="{{
          currentQuestionType === roundType2QuestionType[0].value
            ? 'Enter your question here'
            : 'Nhập câu hỏi của bạn'
        }}"
      />
    </div>
    <div class="two__left-config" *ngIf="selectedCard">
      <div class="two__left-config_header"><p>Cập nhật câu trả lời</p></div>
      <form class="two__left-config_input" [formGroup]="searchForm">
        <input
          (input)="onCardWordChange($event)"
          placeholder="Nhập từ tiếng Anh bạn đang tìm"
          formControlName="eng"
        />
        <div class="two__left-config_input-suggestion">
          <ng-container *ngFor="let word of suggestionWordsFromSearch">
            <div
              (click)="changeSelectedWord(word)"
              class="two__left-config_input-suggestion-item {{
                word.images.length === 0
                  ? 'two__left-config_input-suggestion-item_disabled'
                  : ''
              }}"
            >
              <p class="two__left-config_input-suggestion-eng">
                {{ word.engVer }}
              </p>
              <p>
                Ảnh minh hoạ: <span>{{ word.images.length }}</span>
              </p>
            </div>
          </ng-container>
        </div>
      </form>
      <div class="two__left-config_word" *ngIf="selectedWord">
        <div class="two__left-config_word-eng">
          <p>{{ selectedWord.engVer }}</p>
        </div>
        <ng-container
          *ngIf="currentQuestionType === roundType2QuestionType[0].value"
        >
          <div class="two__left-config_word-vies">
            <ng-container *ngFor="let vie of selectedWord.vieVers">
              <button
                (click)="onChangeCardWord(vie)"
                class="two__left-config_word-vies_vie {{
                  vie === selectedCard.word
                    ? 'two__left-config_word-vies_vie-selected'
                    : ''
                }}"
              >
                {{ vie }}
              </button>
            </ng-container>
          </div>
        </ng-container>
        <div class="two__left-config_word-images">
          <ng-container *ngFor="let img of selectedWord.images">
            <button
              (click)="onChangeCardImage(img)"
              class="two__left-config_word-images_img {{
                selectedCard.imageUrl === img
                  ? 'two__left-config_word-images_img-selected'
                  : ''
              }}"
            >
              <img src="{{ img }}" />
            </button>
          </ng-container>
        </div>
      </div>
      <div class="two__left-config_answer" *ngIf="selectedWord">
        <label>
          Đánh dấu rằng đây là đáp án đúng:
          <input
            (change)="onMarkAsCorrectAnsCheckboxChange($event)"
            type="checkbox"
            [checked]="newRound.correctAns === selectedCard.cardId"
          />
        </label>
      </div>
    </div>
  </div>
  <div class="two__right">
    <div class="two__right-question">
      <p
        class="two__right-question-empty"
        *ngIf="
          newRound.question === '' &&
          currentQuestionType === roundType2QuestionType[0].value
        "
      >
        Your question
      </p>
      <p
        class="two__right-question-empty"
        *ngIf="
          newRound.question === '' &&
          currentQuestionType === roundType2QuestionType[1].value
        "
      >
        Câu hỏi của bạn
      </p>
      <p *ngIf="newRound.question !== ''">{{ newRound.question }}</p>
    </div>
    <div class="two__right-cards">
      <div class="two__right-cards-main">
        <ng-container *ngFor="let card of newRound.cards">
          <div
            (click)="changeSelectedCard(card)"
            class="two__right-cards-main_card {{
              selectedCard && selectedCard.cardId === card.cardId
                ? 'two__right-cards-main_card-selected'
                : ''
            }} {{
              card.cardId === newRound.correctAns
                ? 'two__right-cards-main_card-right'
                : ''
            }}"
          >
            <img src="{{ card.imageUrl }}" />
            <p>{{ card.word }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="two__bot">
    <app-button (click)="onSaveRound()">Lưu màn chơi</app-button>
  </div>
</div>
