<div class="words">
  <div class="words-top">
    <div class="words-top__left">
      <p class="words-top__left-title">Kho từ vựng</p>
      <form class="words-top__left-form" [formGroup]="searchEngWordForm">
        <input
          placeholder="Tìm từ tiếng Anh"
          class="words-top__left-form-input"
          formControlName="engWord"
          (input)="onSearchEngWordInput($event)"
        />
        <div class="words-top__left-form__suggestion">
          <ng-container *ngIf="searchSuggestions.length > 0">
            <ng-container *ngFor="let word of searchSuggestions">
              <div
                (click)="goToViewWordPage(word._id)"
                class="words-top__left-form__suggestion-word"
              >
                <p>{{ word.engVer }}</p>
                <p>Ảnh: {{ word.images.length }}</p>
                <p>Audio: {{ word.audios.length }}</p>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </form>
    </div>
    <div class="words-top__right">
      <app-button (click)="goToAddWordRoute()">Thêm từ mới</app-button>
    </div>
  </div>
  <div class="words-main">
    <div class="table">
      <div class="table-row table-header">
        <div class="table-row-cell table-header-index">STT</div>
        <div class="table-row-cell table-header-engVer">Từ tiếng Anh</div>
        <div class="table-row-cell table-header-vieVers">Nghĩa tiếng Việt</div>
        <div class="table-row-cell table-header-actions"></div>
      </div>
      <ng-container *ngFor="let word of allWords; let i = index">
        <div (click)="goToViewWordPage(word._id)" class="table-row table-data">
          <div class="table-row-cell table-data-index">{{ i + 1 }}</div>
          <div class="table-row-cell table-data-engVer">{{ word.engVer }}</div>
          <div class="table-row-cell table-data-vieVers">
            <ng-container *ngFor="let vie of word.vieVers">
              <span>{{ vie }}</span>
            </ng-container>
          </div>
          <div class="table-row-cell table-data-actions">
            <button (click)="goToEditWordPage(word._id)">Chỉnh sửa</button>
          </div>
        </div>
      </ng-container>
      <div class="table-pagination">
        <ng-container *ngIf="currentPage > 1">
          <div (click)="goToPreviousPage()" class="table-pagination__btn">
            <app-back-left></app-back-left>
          </div>
        </ng-container>
        <div (click)="goToNextPage()" class="table-pagination__btn">
          <app-forward-right></app-forward-right>
        </div>
      </div>
    </div>
  </div>
</div>
