<div class="words">
  <div class="words-top">
    <div class="words-top__left">
      <p class="words-top__left-title">Kho từ vựng</p>
    </div>
    <div class="words-top__right">
      <app-button (click)="goToAddWordRoute()">Thêm từ mới</app-button>
    </div>
  </div>
  <div class="words-main">
    <table>
      <thead>
        <tr>
          <td>STT</td>
          <td>Từ tiếng Anh</td>
          <td>Nghĩa tiếng Việt</td>
          <td>Độ khó</td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
