@import "../../../styles/color";

.course-detail {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  &__header {
    &-title {
      color: $color-blue-50;
      font-weight: bolder;

      font-size: 2rem;
      margin-bottom: 1rem;
    }

    &-desc {
      color: $color-gray-40;

      font-size: 1.1rem;
    }
  }

  &__tools {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 1rem 0;
  }
}
