<div class="course-detail">
  <ng-container *ngIf="currentCourse">
    <div class="course-detail__header">
      <p class="course-detail__header-title">{{ currentCourse.title }}</p>
      <p class="course-detail__header-desc">{{ currentCourse.description }}</p>
    </div>
    <div class="course-detail__tools">
      <app-button (click)="showEditCourseModal()"
        >Cập nhật thông tin phần học</app-button
      >
      <app-button (click)="showAddLessionModal()">Thêm cửa</app-button>
    </div>
    <div class="course-detail__main">
      <div
        class="course-detail__main-empty"
        *ngIf="currentCourse.lessions.length === 0"
      >
        Phần này hiện chưa có cửa nào
      </div>
      <div class="table" *ngIf="currentCourse.lessions.length !== 0">
        <div class="table-row table-header">
          <div class="table-row-cell table-header-index">STT</div>
          <div class="table-row-cell table-header-title">Tên chương</div>
          <div class="table-row-cell table-header-lession">Số chương</div>
          <div class="table-row-cell table-header-desc">Mô tả</div>
        </div>
        <ng-container
          *ngFor="let lession of currentCourse.lessions; let i = index"
        >
          <div
            (click)="goToLessionDetail(lession._id)"
            class="table-row table-data"
          >
            <div class="table-row-cell table-data-index">{{ i + 1 }}</div>
            <div class="table-row-cell table-data-title">
              {{ lession.title }}
            </div>
            <div class="table-row-cell table-data-lession">
              {{ lession.rounds.length }}
            </div>
            <div class="table-row-cell table-data-desc">
              {{ lession.description }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
<app-modal [isOpen]="isShowAddLessionModal" (click)="hideAddLessionModal()">
  <form
    class="new-lession-form"
    (submit)="onNewLessionFormSubmit()"
    [formGroup]="newLessionForm"
  >
    <p class="new-lession-form__header">Tạo cửa mới</p>
    <p class="new-lession-form__error" *ngIf="newLessionFormError !== ''">
      {{ newLessionFormError }}
    </p>
    <div class="new-lession-form__component new-lession-form__title">
      <app-text-field
        [autofocus]="true"
        placeholder="VD: Chào hỏi"
        type="text"
        [required]="true"
        [control]="$any(newLessionForm.get('title'))"
      ></app-text-field>
      <p
        class="new-lession-form__component-error"
        *ngIf="
          newLessionForm.get('title')!.invalid &&
          (newLessionForm.get('title')!.dirty ||
            newLessionForm.get('title')!.touched)
        "
      >
        Hãy nhập tên cửa cửa này
      </p>
    </div>
    <div class="new-lession-form__component new-lession-form__description">
      <textarea
        cols="{{ 5 }}"
        [required]="true"
        formControlName="description"
        placeholder="VD: Những cụm từ chào hỏi thông dụng"
      ></textarea>
      <p
        class="new-lession-form__component-error"
        *ngIf="
          newLessionForm.get('description')!.invalid &&
          (newLessionForm.get('description')!.dirty ||
            newLessionForm.get('description')!.touched)
        "
      >
        Hãy nhập mô tả của cửa này
      </p>
    </div>
    <app-button type="submit">Tạo cửa mới</app-button>
  </form>
</app-modal>
<app-modal [isOpen]="isShowEditCourseModal" (click)="hideEditCourseModal()">
  <form
    class="edit-course-form"
    (submit)="onEditCourseSubmit()"
    [formGroup]="editCourseForm"
  >
    <p class="edit-course-form__header">Cập nhật thông tin phần học</p>
    <div class="edit-course-form__component edit-course-form__title">
      <app-text-field
        [autofocus]="true"
        placeholder="VD: Động vật"
        type="text"
        [required]="true"
        [control]="$any(editCourseForm.get('title'))"
      ></app-text-field>
      <p
        class="edit-course-form__component-error"
        *ngIf="
          editCourseForm.get('title')!.invalid &&
          (editCourseForm.get('title')!.dirty ||
            editCourseForm.get('title')!.touched)
        "
      >
        Hãy nhập tên của phần này
      </p>
    </div>
    <div class="edit-course-form__component edit-course-form__description">
      <textarea
        cols="{{ 5 }}"
        [required]="true"
        formControlName="description"
        placeholder="VD: Từ vựng tiếng Anh về thế giới động vật"
      ></textarea>
      <p
        class="edit-course-form__component-error"
        *ngIf="
          editCourseForm.get('description')!.invalid &&
          (editCourseForm.get('description')!.dirty ||
            editCourseForm.get('description')!.touched)
        "
      >
        Hãy nhập mô tả của phần này
      </p>
    </div>
    <div *ngIf="editingCourse" class="edit-course-form-select">
      <span>Trạng thái của phần học: &nbsp;</span>
      <select
        (change)="onChangeEditingCourseType($event)"
        [value]="editingCourse.type"
      >
        <option value="PUBLISHED" title="{{ allCourseType[0].description }}">
          Đã ra mắt
        </option>
        <option value="DRAFT" title="{{ allCourseType[1].description }}">
          Đang thử nghiệm
        </option>
      </select>
    </div>
    <app-button type="submit">Cập nhật</app-button>
  </form>
</app-modal>
