@import "../../../styles/mixins";
@import "../../../styles/color";

$TABLE_CELL_HEIGHT: 3rem;
$CELL_INDEX_WIDTH: 5rem;
$CELL_LEVEL_WIDTH: 8rem;
$CELL_TIME_WIDTH: 15rem;
$CELL_ACTIONS_WIDTH: 8rem;

.tests {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      gap: 1rem;

      &-title {
        font-weight: bolder;
        color: $color-blue-50;

        font-size: 1.5rem;
      }

      &-search {
        position: relative;

        & input {
          @include custom-input;
          padding: 0.6rem 0.8rem;
          font-size: 0.9rem;
          width: 20rem;
        }

        &-suggestion {
          position: absolute;
          display: flex;
          justify-content: center;
          flex-direction: column;
          background-color: $color-white;

          top: 105%;
          left: 0;
          width: 100%;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          z-index: 100;

          &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;

            gap: 0.3rem;
            width: 100%;
            height: 4rem;
            padding: 0.3rem 0.5rem;
            border-bottom: 1px dashed $color-gray-60;

            &:hover {
              background-color: $color-gray-90;
            }

            & p {
              font-weight: bolder;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      gap: 1rem;

      &-btn {
        @include custom-button;
        width: max-content;

        padding: 0.6rem 0.8rem;
        font-size: 0.9rem;
      }
    }
  }

  &__main {
    & .table {
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-cell {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: $TABLE_CELL_HEIGHT;

          padding-left: 1rem;
          border-bottom: 1px solid $color-gray-90;
        }
      }

      &-header {
        & div {
          font-weight: bolder;
        }
      }

      &-data {
        cursor: pointer;

        &:hover {
          background-color: $color-gray-90;
        }
      }

      &-header,
      &-data {
        &-index {
          width: $CELL_INDEX_WIDTH;
        }

        &-level {
          width: $CELL_LEVEL_WIDTH;
        }

        &-time {
          width: $CELL_TIME_WIDTH;
        }

        &-actions {
          justify-content: flex-end;
          width: $CELL_ACTIONS_WIDTH;

          & button {
            @include custom-button;
            width: max-content;

            padding: 0.6rem 0.8rem;
            font-size: 0.8rem;
          }
        }

        &-question {
          flex: 1 1 0%;
        }
      }

      &-pagination {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        gap: 1rem;
        padding: 1rem 0;

        &__btn {
          @include custom-button;

          display: flex;
          justify-content: center;
          align-items: center;

          width: 2rem;
          height: 2rem;
          background-color: $color-blue-55;

          ::ng-deep .icon {
            font-size: 2rem;
          }

          &:hover {
            background-color: $color-blue-50;
          }
        }
      }
    }
  }
}
