<div class="tests">
  <div class="tests__header">
    <div class="tests__header-left">
      <p class="tests__header-left-title">Ngân hàng đề</p>
    </div>
    <div class="tests__header-right">
      <button (click)="goToAddTestRoute()" class="tests__header-right-btn">
        Thêm đề mới
      </button>
    </div>
  </div>
  <div class="tests__main">
    <div class="table">
      <div class="table-row table-header">
        <div class="table-row-cell table-header-index">STT</div>
        <div class="table-row-cell table-header-question">Câu hỏi</div>
        <div class="table-row-cell table-header-time">Thời gian tạo</div>
        <div class="table-row-cell table-header-actions"></div>
      </div>
      <ng-container *ngFor="let test of allTest; let i = index">
        <div class="table-row table-data">
          <div class="table-row-cell table-data-index">{{ i + 1 }}</div>
          <div class="table-row-cell table-data-question">
            {{ test.question }}
          </div>
          <div class="table-row-cell table-data-time">
            {{ dateService.formatDateStringToDateTime(test.createdAt) }}
          </div>
          <div class="table-row-cell table-data-actions">
            <!-- <button (click)="goToEditWordPage(word._id)">Chỉnh sửa</button> -->
          </div>
        </div>
      </ng-container>
      <div class="table-pagination">
        <ng-container *ngIf="currentPage > 1">
          <div (click)="goToPreviousPage()" class="table-pagination__btn">
            <app-back-left></app-back-left>
          </div>
        </ng-container>
        <div (click)="goToNextPage()" class="table-pagination__btn">
          <app-forward-right></app-forward-right>
        </div>
      </div>
    </div>
  </div>
</div>
