<div class="add-round">
  <div *ngIf="mode === 'add'" class="add-round__header">
    <div class="add-round__header-left">
      <select
        (change)="onPlayTypeSelectChange($event)"
        [value]="currentPlayType"
        class="add-round__header-left_select"
      >
        <ng-container *ngFor="let type of roundTypeInfo">
          <option value="{{ type.value }}" title="{{ type.desc }}">
            {{ type.label }}
          </option>
        </ng-container>
      </select>
    </div>
  </div>
  <div *ngIf="mode === 'add'" class="add-round__main">
    <ng-container *ngIf="currentPlayType === roundTypeInfo[0].value">
      <app-round-type-one></app-round-type-one>
    </ng-container>
    <ng-container *ngIf="currentPlayType === roundTypeInfo[1].value">
      <app-round-type-two></app-round-type-two>
    </ng-container>
    <ng-container *ngIf="currentPlayType === roundTypeInfo[2].value">
      <app-round-type-three></app-round-type-three>
    </ng-container>
    <ng-container *ngIf="currentPlayType === roundTypeInfo[3].value">
      <app-round-type-four></app-round-type-four>
    </ng-container>
    <ng-container *ngIf="currentPlayType === roundTypeInfo[4].value">
      <app-round-type-five></app-round-type-five>
    </ng-container>
    <ng-container *ngIf="currentPlayType === roundTypeInfo[5].value">
      <app-round-type-six></app-round-type-six>
    </ng-container>
  </div>
  <div *ngIf="mode === 'view' && currentRound" class="add-round__main">
    <ng-container *ngIf="currentRound.playType === roundTypeInfo[0].value">
      <app-round-type-one [currentRound]="currentRound"></app-round-type-one>
    </ng-container>
    <ng-container *ngIf="currentRound.playType === roundTypeInfo[1].value">
      <app-round-type-two [currentRound]="currentRound"></app-round-type-two>
    </ng-container>
    <ng-container *ngIf="currentRound.playType === roundTypeInfo[2].value">
      <app-round-type-three
        [currentRound]="currentRound"
      ></app-round-type-three>
    </ng-container>
    <ng-container *ngIf="currentRound.playType === roundTypeInfo[3].value">
      <app-round-type-four [currentRound]="currentRound"></app-round-type-four>
    </ng-container>
    <ng-container *ngIf="currentRound.playType === roundTypeInfo[4].value">
      <app-round-type-five [currentRound]="currentRound"></app-round-type-five>
    </ng-container>
    <ng-container *ngIf="currentRound.playType === roundTypeInfo[5].value">
      <app-round-type-six [currentRound]="currentRound"></app-round-type-six>
    </ng-container>
  </div>
</div>
