<div class="lession-detail__tools">
  <app-button (click)="goToAddRoundPage()">Thêm màn chơi</app-button>
</div>
<div class="lession-detail__main">
  <div class="table">
    <div class="table-row table-header">
      <div class="table-row-cell table-header-index">STT</div>
      <div class="table-row-cell table-header-title">Tên chương</div>
      <div class="table-row-cell table-header-lession">Số màn chơi</div>
      <div class="table-row-cell table-header-desc">Mô tả</div>
    </div>
    <!-- <ng-container
            *ngFor="let round of currentLession.rounds; let i = index"
          >
            <div
              class="table-row table-data"
            >
              <div class="table-row-cell table-data-index">{{ i + 1 }}</div>
              <div class="table-row-cell table-data-title">
                {{ round.title }}
              </div>
              <div class="table-row-cell table-data-lession">
                {{ lession.rounds.length }}
              </div>
              <div class="table-row-cell table-data-desc">
                {{ lession.description }}
              </div>
            </div>
          </ng-container> -->
  </div>
</div>
