@import "../../../styles/color";
@import "../../../styles/mixins";

$CHILD-LEFT-WIDTH: 15%;

.add-word {
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;

    &-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &-title {
        font-weight: bolder;
        color: $color-blue-50;

        font-size: 1.8rem;
      }
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      ::ng-deep button {
        padding: 0.8rem 1.3rem;
        font-size: 0.8rem;
      }
    }
  }

  &__child {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    margin-bottom: 1.5rem;

    &-left {
      width: $CHILD-LEFT-WIDTH;

      p {
        font-size: 1.1rem;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      flex: 1 1 0%;
      gap: 0.8rem;

      &_word {
        font-weight: bolder;
        color: $color-blue-50;

        font-size: 2rem;
      }

      &_images {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        gap: 1rem;

        &-img {
          width: 7rem;
          height: 8rem;
          border-radius: 0.5rem;
        }
      }

      &_audios {
        display: flex;
        justify-content: flex-st_audiosart;
        align-items: center;

        gap: 1rem;

        & audio {
          width: 9rem;
        }
      }

      &_noImg,
      &_noAudio {
        font-size: 1.2rem;
      }

      input {
        @include custom-input;
      }

      select {
        width: 10rem;

        padding: 0.8rem 0.5rem;
        border-radius: 0.3rem;
        font-size: 1rem;
      }

      &_vieVers {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto;

        width: 100%;
        gap: 1rem;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;

          padding: 0.5rem 0.8rem;
          border: 1px solid $color-gray-20;
          border-radius: 1rem;
          gap: 0.5rem;

          & span:nth-child(2) {
            display: flex;
            justify-content: center;
            align-content: center;
            cursor: pointer;

            width: 1.55rem;
            height: 1.55rem;
            border-radius: 50%;

            &:hover {
              background-color: $color-gray-60;
            }

            ::ng-deep .icon {
              fill: black;
            }
          }
        }
      }

      &__upload {
        @include custom-button;
        width: max-content;
        cursor: pointer;

        border-radius: 0.5rem;
        padding: 0.8rem;
        font-size: 0.8rem;
      }
    }
  }

  &__error {
    padding-left: $CHILD-LEFT-WIDTH;

    margin-top: 0.3rem;
    margin-bottom: 1rem;

    & p {
      color: $color-red-50;

      font-size: 0.9rem;
    }
  }
}
