<div class="add-word">
  <div class="add-word__header">
    <div class="add-word__header-left">
      <p class="add-word__header-left-title">
        {{ !mode ? "Thêm từ mới" : "" }}
        {{ mode && mode === "edit" ? "Cập nhật thông tin của từ" : "" }}
        {{ mode && mode === "view" ? "Xem thông tin của từ" : "" }}
      </p>
    </div>
    <div class="add-word__header-right" *ngIf="mode && mode != 'view'">
      <app-button
        (click)="wordId ? onClickUpdateWordBtn() : onClickSaveWordBtn()"
        >{{ wordId ? "Cập nhật" : "Lưu" }}</app-button
      >
    </div>
  </div>
  <div class="add-word__child">
    <div class="add-word__child-left">
      <p>Từ tiếng Anh:</p>
    </div>
    <div class="add-word__child-right">
      <input
        class=".input"
        placeholder="VD: You"
        name="engVer"
        value="{{ newWord.engVer }}"
        (input)="onEngVerInput($event)"
      />
    </div>
  </div>
  <div class="add-word__child">
    <div class="add-word__child-left">
      <p>Nghĩa tiếng Việt:</p>
    </div>
    <div class="add-word__child-right">
      <form [formGroup]="vieVerForm" *ngIf="mode && mode != 'view'">
        <input
          class=".input"
          placeholder="VD: Bạn"
          formControlName="vieVer"
          (keydown.enter)="onVieVerKeyEnterDown($event)"
          [disabled]="mode && mode === 'view' ? true : false"
        />
      </form>
      <div class="add-word__child-right_vieVers">
        <ng-container *ngFor="let vie of newWord.vieVers; let i = index">
          <div>
            <span>{{ vie }}</span>
            <span *ngIf="mode && mode != 'view'" (click)="removeOneVieVer(i)"
              ><app-icon-close></app-icon-close
            ></span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="add-word__child">
    <div class="add-word__child-left">
      <p>Ảnh minh hoạ:</p>
    </div>
    <div class="add-word__child-right">
      <div
        class="add-word__child-right_images"
        *ngIf="wordId && newWord.images.length > 0"
      >
        <ng-container *ngFor="let image of newWord.images">
          <img class="add-word__child-right_images-img" src="{{ image }}" />
        </ng-container>
      </div>
      <label
        class="add-word__child-right__upload"
        *ngIf="mode && mode != 'view'"
      >
        Thêm ảnh
        <input
          type="file"
          multiple
          accept="image/png, image/gif, image/jpeg, image/svg, image/webp"
          hidden
          (change)="onUploadImages($event)"
        />
      </label>
    </div>
  </div>
  <div class="add-word__child">
    <div class="add-word__child-left">
      <p>Phát âm:</p>
    </div>
    <div class="add-word__child-right">
      <label
        class="add-word__child-right__upload"
        *ngIf="mode && mode != 'view'"
      >
        Thêm audio
        <input
          type="file"
          multiple
          accept="audio/mp3,audio/*;capture=microphone"
          hidden
          (change)="onUploadAudios($event)"
        />
      </label>
    </div>
  </div>
</div>
