<div class="add-word">
  <div class="add-word__header">
    <div class="add-word__header-left">
      <p class="add-word__header-left-title">
        {{ mode && mode === "add" ? "Thêm từ mới" : "" }}
        {{ mode && mode === "edit" ? "Cập nhật thông tin của từ" : "" }}
        {{ mode && mode === "view" ? "Xem thông tin của từ" : "" }}
      </p>
    </div>
    <div class="add-word__header-right">
      <ng-container *ngIf="mode && mode !== 'view'">
        <app-button
          (click)="wordId ? onClickUpdateWordBtn() : onClickSaveWordBtn()"
          >{{ wordId ? "Cập nhật" : "Lưu" }}</app-button
        >
      </ng-container>
      <ng-container *ngIf="mode && mode === 'view'">
        <app-button (click)="goToEditWord()">Chỉnh sửa từ này</app-button>
      </ng-container>
    </div>
  </div>
  <div class="add-word__child">
    <div class="add-word__child-left">
      <p>Từ tiếng Anh:</p>
    </div>
    <div class="add-word__child-right" *ngIf="mode && mode === 'view'">
      <p class="add-word__child-right_word">{{ newWord.engVer }}</p>
    </div>
    <div class="add-word__child-right" *ngIf="mode && mode !== 'view'">
      <input
        class=".input"
        placeholder="VD: You"
        name="engVer"
        value="{{ newWord.engVer }}"
        (input)="onEngVerInput($event)"
      />
    </div>
  </div>
  <div class="add-word__child">
    <div class="add-word__child-left">
      <p>Nghĩa tiếng Việt:</p>
    </div>
    <div class="add-word__child-right">
      <form [formGroup]="vieVerForm" *ngIf="mode && mode != 'view'">
        <input
          class=".input"
          placeholder="VD: Bạn"
          formControlName="vieVer"
          (keydown.enter)="onVieVerKeyEnterDown($event)"
        />
      </form>
      <div class="add-word__child-right_vieVers">
        <ng-container *ngFor="let vie of newWord.vieVers; let i = index">
          <div>
            <span>{{ vie }}</span>
            <span *ngIf="mode && mode != 'view'" (click)="removeOneVieVer(i)"
              ><app-icon-close></app-icon-close
            ></span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="add-word__child">
    <div class="add-word__child-left">
      <p>Ảnh minh hoạ:</p>
    </div>
    <div class="add-word__child-right">
      <div class="add-word__child-right_images" *ngIf="wordId">
        <ng-container *ngIf="newWord.images.length > 0">
          <ng-container *ngFor="let image of newWord.images">
            <img class="add-word__child-right_images-img" src="{{ image }}" />
          </ng-container>
        </ng-container>
        <ng-container *ngIf="allImgs.length > 0">
          <ng-container *ngFor="let img of allImgs">
            <img class="add-word__child-right_images-img" src="{{ img }}" />
          </ng-container>
        </ng-container>
      </div>
      <p
        class="add-word__child-right_noImg"
        *ngIf="wordId && newWord.images.length === 0 && allImgs.length === 0"
      >
        Chưa có ảnh nào
      </p>
      <label
        class="add-word__child-right__upload"
        *ngIf="mode && mode != 'view'"
      >
        Thêm ảnh
        <input
          type="file"
          multiple
          accept="image/png, image/gif, image/jpeg, image/svg, image/webp"
          hidden
          (change)="onUploadImages($event)"
        />
      </label>
    </div>
  </div>
  <div class="add-word__child">
    <div class="add-word__child-left">
      <p>Audio:</p>
    </div>
    <div class="add-word__child-right">
      <div class="add-word__child-right_audios" *ngIf="wordId">
        <ng-container *ngIf="newWord.audios.length > 0">
          <ng-container *ngFor="let audio of newWord.audios">
            <audio controls>
              <source src="{{ audio }}" type="audio/mpeg" />
            </audio>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="allAudios.length > 0">
          <ng-container *ngFor="let audio of allAudios">
            <audio controls>
              <source src="{{ audio }}" type="audio/mpeg" />
            </audio>
          </ng-container>
        </ng-container>
      </div>
      <p
        class="add-word__child-right_noAudio"
        *ngIf="wordId && newWord.audios.length === 0 && allAudios.length === 0"
      >
        Chưa có audio nào
      </p>
      <label
        class="add-word__child-right__upload"
        *ngIf="mode && mode != 'view'"
      >
        Thêm audio
        <input
          type="file"
          multiple
          accept="audio/mp3,audio/*;capture=microphone"
          hidden
          (change)="onUploadAudios($event)"
        />
      </label>
    </div>
  </div>
</div>
